#Phase Two of Project
5 complex queries - linking to 3 or more tables
5 different structure queries - different functions (INSERT, DELETE, etc)
20 queries
Match ER Diagram

#Phase Three of Project
• DB complexity
• Usability
• Organization
• Relevance of demo